<div class="aot-modal-container">
  <div class="aot-modal-option-row">
    <label class="aot-modal-option-label">{{form_trigger.measurement.label(class_='mb-0')}}</label>
    <div class="aot-modal-option-control">
      <select class="form-control aot-modern-select selectpicker aot-standard-select" id="measurement" name="measurement" style="width: 100%;" title="" data-original-title="{{_('Select a measurement to use as input')}}">
        <option value="">{{dict_translation['select_one']['title']}}</option>
      {% for each_input_form in choices_input -%}
        <option value="{{each_input_form['value'].split(',')[0]}}"{% if each_function.measurement == each_input_form['value'].split(',')[0] %} selected{% endif %}>{{each_input_form['item']}}</option>
      {% endfor -%}

      {% if not choices_input -%}
        <option value="">{{dict_translation['none_available']['title']}}</option>
      {% endif -%}
      </select>
    </div>
  </div>
  <div class="aot-modal-option-row">
    <label class="aot-modal-option-label">{{form_trigger.edge_detected.label(class_='mb-0')}}</label>
    <div class="aot-modal-option-control">
      <select class="form-control aot-modern-select selectpicker aot-standard-select" data-placement="top" id="edge_detected" name="edge_detected" title="{{_('Low to High (Rising), High to Low (Falling), or Both')}}">
        <option value=""></option>
        <option value="rising"{% if each_function.edge_detected == 'rising' %} selected{% endif %}>{{_('Rising')}}</option>
        <option value="falling"{% if each_function.edge_detected == 'falling' %} selected{% endif %}>{{_('Falling')}}</option>
        <option value="both"{% if each_function.edge_detected == 'both' %} selected{% endif %}>{{_('Both')}}</option>
      </select>
    </div>
  </div>
</div>