[ignore: functions/custom_functions/**]
[ignore: actions/custom_actions/**]
[ignore: inputs/custom_inputs/**]
[ignore: outputs/custom_outputs/**]
[ignore: widgets/custom_widgets/**]
[ignore: tests/**]
[ignore: user_python_code/**]

[ignore: aot_flask/static/lib/**]
[ignore: aot_flask/static/dist/**]
# js/dist 번들은 추출 대상에 포함 (JS 템플릿 리터럴 ${_('...')}는 소스에선 미추출,
# 번들의 트랜스파일된 형태에서만 추출됨)
[ignore: aot_flask/static/js/vendor/**]
[ignore: aot_flask/static/js/node_modules/**]
[ignore: aot_flask/static/js/**/node_modules/**]
[ignore: aot_flask/static/apps/**]
[ignore: aot_flask/static/manual/**]
[ignore: aot_flask/static/uploads/**]
# [ignore: aot_flask/static/**]
[ignore: aot_flask/translations/**]

[python: **.py]
[javascript: **.js]
[jinja2: aot_flask/templates/**.html]
[jinja2: aot_flask/user_templates/**.html]

silent=false
extensions=jinja2.ext.do
