{% if 'ftdi_location' in dict_options['options_enabled'] or
      'ftdi_location' in dict_options['options_disabled']
  %}

<div class="aot-modal-option-row">
  <label class="aot-modal-option-label">{{dict_translation['ftdi_location']['title']}}</label>
  <div class="aot-modal-option-control">
  {%- if 'ftdi_location' in dict_options['options_disabled'] -%}
    {{form.ftdi_location(class_='form-control aot-modern-input', value=each_device.ftdi_location, disabled=True, **{'title': dict_translation['ftdi_location']['phrase']})}}
  {% else %}
    {{form.ftdi_location(class_='form-control aot-modern-input', value=each_device.ftdi_location, **{'title': dict_translation['ftdi_location']['phrase']})}}
  {%- endif -%}
  </div>
</div>

{% endif %}
