<!-- Global Map Config -->
<script>
    window.AOT_GEO_CONFIG = {{ geo_config | tojson | safe }};
</script>

<!-- Map Assets (JS/CSS) [Globalized in layout.html] -->

<!-- AoT Map Components -->
<script src="/static/js/geo/aot-map-loader.js?v=2"></script>
<script src="/static/js/geo/aot-map-data.js"></script>
<script src="/static/js/geo/aot-map-controls.js"></script>
<script src="/static/js/components/aot-map-search-controller.js"></script>
<script src="/static/js/components/aot-map-search-fixed.js"></script>
<script src="/static/js/geo/aot-map-modal.js"></script>